// Font Sizes
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

// flex helpers
.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.auto-center {
        align-items: center;
        justify-content: center;
    }
    &.wrapper {
        flex-wrap: wrap;
    }
    &.row {
        flex-direction: row;
    }
    &.row-reverse {
        flex-direction: row-reverse;
    }
    &.column {
        flex-direction: column;
    }
    &.column-reverse {
        flex-direction: column-reverse;
    }
}


.text-center {
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 36px 20px;
}

.mb-12 {
    margin-bottom: 12px;
}
.m-10 {
    margin: 10px;
}

.pt-100 {
    padding-top: 100px;
}
.p-10 {
    padding: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}

.font-bold {
    font-family: inter-bold;
}
.font-semi-bold {
    font-family: Inter-SemiBold;
}
.font-inter {
    font-family: inter;
}
