.chapter-list {
    margin-bottom: 24px;
    border: 1px solid rgba(123, 141, 177, 0.6);
    border-radius: 10px;
    position: relative;
    max-height: 260px;
    min-height: 260px;
    overflow-y: scroll;
    padding: 14px;
}